@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oleo+Script:wght@700&family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-border;
}

:root {
    --primary: #FF42A5 ;
    --secondary: #534C64;
    --gradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    font-family: 'Work Sans', sans-serif; 
}
button{
    background: var(--primary);
    border: none;
    border-radius: 48px;
    font-size: 20px;
    color: #fff;
    padding: 20px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 85px;
}
.logo h1{
    font-size: 45px;
    font-weight: 700;
}
.logo span{
    color: var(--primary)
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links li {
    list-style: none;
}

.links li a {
    color: #3C354F;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;

}
.nav-btn {
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    border-radius: 8px;
    color: #0B0223;
}
.nav-btn i {
    margin-left: 15px;
}

/* banner section added  */
.banner-container {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-right,
.banner-left {
    flex-basis: 50%;
}
.banner-left h4 {
    font-size: 45px;
    color: #0B0223;
    font-weight: 600;
}
.banner-left h1 {
    font-size: 95px;
    font-weight: 800;
    font-size: 72px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-left li {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 15px;
    list-style: none;
}
.banner-left li i {
    margin-right: 10px;
    border-radius: 50%;    
}
.banner-left .btn {
    margin-top: 40px;
    margin-right: 24px;
}
.banner-left .btn2{
    background: #4EC5F7;
}


.banner-right img {
    width: 100%;
}
/* .gammer section start here 
============================================= */

.gammer-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 95px 10%;
}

.gammer-left{
    flex-basis: 60%;
}
.gammer-right{
    flex-basis: 40%;
    text-align: right;
}
.gammer-banner {
    width: 100%;
}
.gammer-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.gammer-description {
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
    margin-bottom: 34px;
}


.gammer-right > h6 {
    font-size: 20px; 
    font-weight: 400;
    color: #534C64;
    margin-top: 24px;
}
.gammer-right > h4 {
    font-size: 24px; 
    font-weight: 700;
    color: #534C64;
}

/* online game section start here  */

.online-game-container {
    padding: 95px 10%;
}

.online-game-title {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 20px;
    text-align: center;
}
.online-game-description {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-bottom: 50px;
    text-align: center;
}

.online-game-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}


.online-game-cards .card{
    width: 220px;
    height: 300px;
    background: gray;
    border-radius: 15px;
}
.online-game-cards .card img {
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.card-container {
    position: relative;
}
.card-overlay {
    width: 220px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top : 0;
    left: 0;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border: 3px solid #F948B2;
    opacity: 0;
    transition: opacity .6s;
}
.card-overlay i {
    font-size: 18px;
    color: white
}
.card-overlay h6{
    font-size: 18px;
    color: white
}

.card-container:hover .card-overlay  {
    opacity: 1;
}

.online-game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-left: 10px;
}
.card-description{
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary);
    margin-top: 10px;
    width: 220px;
}



